<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.tester49">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Tester49">
        <activity android:name=".TaskTracker"></activity>
        <activity android:name=".Dropdown2" />
        <activity
            android:name=".createproject"
            android:label="@string/title_activity_createproject"
            android:theme="@style/Theme.Tester49.NoActionBar" />
        <activity android:name=".Projects" />
        <activity android:name=".createtask" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>